body {
  text-align: center;
  font-family: Arial, sans-serif;
  background-color: #c5002e;
  color: white;
  margin: 0;
  padding: 0;
}

#game-container {
  position: relative;
  display: inline-block;
  margin-top: 20px;
}

#coliseo {
  width: 800px;
  height: auto;
  border: 5px solid #000;
}

#gato {
  position: absolute;
  width: 50px;
  height: auto;
  cursor: pointer;
  display: none;
  z-index: 2;
}

.info {
  margin-top: 20px;
  font-size: 18px;
}

button {
  background: #1e90ff;
  color: white;
  padding: 10px 20px;
  font-size: 18px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 15px;
}

button:hover {
  background-color: #0077cc;
}
.topbar {
  background-color: #a0002b;
  padding: 10px;
  display: flex;
  justify-content: flex-start;
}

.volver-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: white;
  font-size: 16px;
  gap: 8px;
}

.volver-link img {
  width: 24px;
  height: 24px;
}
